export VIRTUAL_ENV_DISABLE_PROMPT=1

# 1. ROS 2 기본 환경 소싱
source /opt/ros/humble/setup.bash

# 2. 현재 워크스페이스(dusan_ws) 빌드 파일 소싱
# (아직 빌드 전이라 install 폴더가 없어도 에러가 나지 않도록 조건문 추가)
if [ -f "install/setup.bash" ]; then
    source install/setup.bash
fi

# 3. 파이썬 가상환경 활성화
source .venv/bin/activate
